acceptance:
    suites:
        default:
            paths:
                - '%paths.base%/tests/features'
            contexts:
                - Akeneo\Patoche\Tests\Acceptance\Context\CommonContext
                - Akeneo\Patoche\Tests\Acceptance\Context\DownloadArchiveContext
                - Akeneo\Patoche\Tests\Acceptance\Context\PrepareForDeploymentContext
                - Akeneo\Patoche\Tests\Acceptance\Context\ProposeTagContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: Akeneo\Patoche\Kernel
                environment: acceptance
