version: '3'

services:
    php:
        environment:
            GITHUB_AUTH_METHOD: ${GITHUB_AUTH_METHOD}
            GITHUB_USERNAME:  ${GITHUB_USERNAME}
            GITHUB_SECRET:  ${GITHUB_SECRET}
