# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    akeneo.filesystem.default.directory: '%kernel.project_dir%/data'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: false      # Automatically injects dependencies in your services.
        autoconfigure: false # Automatically registers your services as commands, event subscribers, etc.

    # Application services

    Akeneo\Application\Vcs\DownloadArchiveHandler:
        arguments:
            - '@Akeneo\Application\Vcs\VcsApiClient'

    Akeneo\Application\Vcs\GetNextTagHandler:
        arguments:
            - '@Akeneo\Application\Vcs\VcsApiClient'

    # Infrastructure services

    Akeneo\Infrastructure\Vcs\Api\GitHubClient:
        arguments:
            - '@Github\Client'
            - '@League\Flysystem\Filesystem'
            - '%akeneo.filesystem.default.directory%'
    Akeneo\Application\Vcs\VcsApiClient: '@Akeneo\Infrastructure\Vcs\Api\GitHubClient'
