ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

li::before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-size: 15px;
  background-image: url('../asset/logo-onboarder.svg');
  background-repeat: no-repeat;
  margin-right: 10px;
}
